
body{
    background-color: rgb(107, 121, 142);
    font-family: 'Exo 2', sans-serif;

}  
img{
    border-radius: 50%;
    margin-bottom: 12px;
    margin-right: 20px;
    float: right;


}
h1{
    font-size: 70px;

}
section{
    font-weight: bold;
    width: 700px;
    padding: 40px;
    background:  rgb(233, 235, 135);
    margin: left;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    cursor: pointer;
}
fieldset{
    
    width: 700px;
    padding: 40px;
    background:  rgb(233, 235, 135);
    margin: left;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: bold;

}
p{padding: 10px;
    background:rgb(170, 172, 97);
    color: black
}


 @media(max-width: 952px){
 body{
    background-color: rgb(43, 83, 226);
    color: #fff;
    width: 100%;
    margin-left: 0;
    margin-right: 0;

 }
 h1{
    font-size: 2.5rem;
    align-items: center;
 }

 section{
    
    background-color: rgb(40, 6, 73);
    color: #fff;
    border: 3px double #fff;
    border-radius: .5rem;
    width: 90%;
    box-shadow: 5px  8px 10px  0 #000;
    

 }
       
 p{
    color: #fff;
    background-color: rgb(71, 21, 117, 0.0);
  
 }
    
 fieldset{
    background-color: rgb(19, 3, 33);
    color: #fff;
    border: 3px double #fff;
    border-radius:1rem;
    width: 90%;
    box-shadow: 5px  8px 10px  0 #000;
    

 }

  }